---
http_interactions:
- request:
    method: get
    uri: https://api.airtable.com/v0/appnlJrQ2fxlfRsov/Applicants?pageSize=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer key3nfyQojyvXquoR
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6e5-sI32pUdODr7DKyvogbpzwf+tRaI"
    body:
      encoding: ASCII-8BIT
      string: '{"records":[{"id":"recIsbIqSnj72dp0O","fields":{"Name":"Supper Potato"},"createdTime":"2017-12-14T17:24:31.000Z"},{"id":"recQes7d2DCuEcGe0","fields":{"Email
        Address":"test@example.com","Phone Screen Score":"2 - worth consideration","Onsite
        Interview Date":"2013-02-14","Stage":"Decision Needed","Onsite Interview Notes":"Seems
        like a really hard worker, and has a great attitude. Very observant: He''s
        got eyes everywhere. But I am concerned that he won''t be able to think outside
        the bag.","Phone":"(208) 555-0505","Phone Screen Date":"2013-02-07","Name":"Chippy
        the Potato","Onsite Interviewer":["recdnQmTV3Dxn3Apz"],"Attachments":[{"id":"attgK5ha1ajpVWOSY","url":"https://dl.airtable.com/xwv2ejXtTBqbTqjcnbQi_Chippypotato.jpg","filename":"Chippypotato.jpg","size":59402,"type":"image/jpeg","thumbnails":{"small":{"url":"https://dl.airtable.com/g7BoJwauSyOZIdtoQALf_Chippypotato.jpg","width":27,"height":36},"large":{"url":"https://dl.airtable.com/IRqeRk4sTkud3Ga12uYI_Chippypotato.jpg","width":256,"height":341}}},{"id":"attU5T1mSPQ8r3nJ6","url":"https://dl.airtable.com/e6kCK3Z0SUS6hhCUoKcD_chippypotatoresume.docx","filename":"chippypotatoresume.docx","size":127681,"type":"application/vnd.openxmlformats-officedocument.wordprocessingml.document","thumbnails":{"small":{"url":"https://dl.airtable.com/attU5T1mSPQ8r3nJ6-28x36.png","width":28,"height":36},"large":{"url":"https://dl.airtable.com/attU5T1mSPQ8r3nJ6-256x331.png","width":256,"height":331}}}],"Onsite
        Interview Score":"2 - worth consideration","Applying for":["recYPK7fwrFojHO9H"],"Phone
        Screen Interviewer":["recmtSmO51zqqWAqs"],"Phone Screen Notes":"Questionable,
        but tentatively move to on-site interview"},"createdTime":"2015-11-11T23:05:58.000Z"}],"offset":"itrBoHdqyN9t1mJnn/recQes7d2DCuEcGe0"}'
  recorded_at: Sun, 20 May 2018 11:44:04 GMT
- request:
    method: get
    uri: https://api.airtable.com/v0/appnlJrQ2fxlfRsov/Applicants?offset=itrBoHdqyN9t1mJnn/recQes7d2DCuEcGe0&pageSize=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer key3nfyQojyvXquoR
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"12a-PieMTkMBioEOMqsOCn9l7HI3OqY"
    body:
      encoding: UTF-8
      string: '{"records":[{"id":"recSIn39bSTqt4Swc","fields":{"Name":"Super Dupper
        Pupper Name"},"createdTime":"2015-11-11T23:19:11.000Z"},{"id":"reccgV23NfAFo0IxD","fields":{"Name":"353f02de-6928-4c36-a7ed-6807d369e0c3"},"createdTime":"2017-12-14T17:23:05.000Z"}],"offset":"itrBoHdqyN9t1mJnn/reccgV23NfAFo0IxD"}'
  recorded_at: Sun, 20 May 2018 11:44:04 GMT
- request:
    method: get
    uri: https://api.airtable.com/v0/appnlJrQ2fxlfRsov/Applicants?offset=itrBoHdqyN9t1mJnn/reccgV23NfAFo0IxD&pageSize=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer key3nfyQojyvXquoR
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"733-C2V1JrjxZiOHMIZerL0vjd/qaDY"
  [...]
