---
http_interactions:
- request:
    method: get
    uri: https://api.airtable.com/v0/appnlJrQ2fxlfRsov/Applicants?fields%5B%5D=Name&maxRecords=2&pageSize=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer key3nfyQojyvXquoR
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e1-+BYhrDObLAiu8+VGH4H5Cd+wFFc"
    body:
      encoding: UTF-8
      string: '{"records":[{"id":"recIsbIqSnj72dp0O","fields":{"Name":"Super Dupper
        Name"},"createdTime":"2017-12-14T17:24:31.000Z"},{"id":"recQes7d2DCuEcGe0","fields":{"Name":"Chippy
        the Potato"},"createdTime":"2015-11-11T23:05:58.000Z"}]}'
  recorded_at: Fri, 15 Dec 2017 11:45:40 GMT
recorded_with: VCR 4.0.0
