---
http_interactions:
- request:
    method: get
    uri: https://api.airtable.com/v0/appnlJrQ2fxlfRsov/Applicants/recQes7d2DCuEcGe0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer key3nfyQojyvXquoR
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"646-c8+q4A2imuACKi9LmHulkyNZAhU"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"recQes7d2DCuEcGe0","fields":{"Email Address":"c.potato@example.com","Phone
        Screen Score":"2 - worth consideration","Onsite Interview Date":"2013-02-14","Stage":"Decision
        Needed","Onsite Interview Notes":"Seems like a really hard worker, and has
        a great attitude. Very observant: He''s got eyes everywhere. But I am concerned
        that he won''t be able to think outside the bag.","Phone":"(208) 555-0505","Phone
        Screen Date":"2013-02-07","Name":"Chippy the Potato","Onsite Interviewer":["recdnQmTV3Dxn3Apz"],"Attachments":[{"id":"attgK5ha1ajpVWOSY","url":"https://dl.airtable.com/xwv2ejXtTBqbTqjcnbQi_Chippypotato.jpg","filename":"Chippypotato.jpg","size":59402,"type":"image/jpeg","thumbnails":{"small":{"url":"https://dl.airtable.com/g7BoJwauSyOZIdtoQALf_Chippypotato.jpg","width":27,"height":36},"large":{"url":"https://dl.airtable.com/IRqeRk4sTkud3Ga12uYI_Chippypotato.jpg","width":256,"height":341}}},{"id":"attU5T1mSPQ8r3nJ6","url":"https://dl.airtable.com/e6kCK3Z0SUS6hhCUoKcD_chippypotatoresume.docx","filename":"chippypotatoresume.docx","size":127681,"type":"application/vnd.openxmlformats-officedocument.wordprocessingml.document","thumbnails":{"small":{"url":"https://dl.airtable.com/attU5T1mSPQ8r3nJ6-28x36.png","width":28,"height":36},"large":{"url":"https://dl.airtable.com/attU5T1mSPQ8r3nJ6-256x331.png","width":256,"height":331}}}],"Onsite
        Interview Score":"2 - worth consideration","Applying for":["recYPK7fwrFojHO9H"],"Phone
        Screen Interviewer":["recmtSmO51zqqWAqs"],"Phone Screen Notes":"Questionable,
        but tentatively move to on-site interview"},"createdTime":"2015-11-11T23:05:58.000Z"}'
  recorded_at: Thu, 14 Dec 2017 17:03:50 GMT
recorded_with: VCR 4.0.0
