---
http_interactions:
- request:
    method: post
    uri: https://api.airtable.com/v0/appnlJrQ2fxlfRsov/Applicants
    body:
      encoding: UTF-8
      string: '{"fields":{"Name":"Super Test Name"}}'
    headers:
      Authorization:
      - Bearer key3nfyQojyvXquoR
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"67-ERjG9vhqlhEvpl+Uv7GZxQAiIGk"
    body:
      encoding: UTF-8
      string: '{"id":"recIsbIqSnj72dp0O","fields":{"Name":"Super Test Name"},"createdTime":"2017-12-14T17:24:30.931Z"}'
  recorded_at: Thu, 14 Dec 2017 17:24:34 GMT
- request:
    method: get
    uri: https://api.airtable.com/v0/appnlJrQ2fxlfRsov/Applicants/recIsbIqSnj72dp0O
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer key3nfyQojyvXquoR
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"67-ERjG9vhqlhEvpl+Uv7GZxQAiIGk"
    body:
      encoding: UTF-8
      string: '{"id":"recIsbIqSnj72dp0O","fields":{"Name":"Super Test Name"},"createdTime":"2017-12-14T17:24:30.931Z"}'
  recorded_at: Thu, 14 Dec 2017 17:24:35 GMT
recorded_with: VCR 4.0.0
