---
http_interactions:
- request:
    method: get
    uri: https://api.airtable.com/v0/appnlJrQ2fxlfRsov/Applicants?maxRecords=2&pageSize=100&sort%5B%5D%5Bdirection%5D=desc&sort%5B%5D%5Bfield%5D=Name
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer key3nfyQojyvXquoR
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d4f-L2lRYBpsRwSZC+5vIYM5rC9fB+4"
    body:
      encoding: ASCII-8BIT
      string: '{"records":[{"id":"recxczR4BaLmvsdU2","fields":{"Email Address":"hrmqueenlizzy@example.com","Phone
        Screen Score":"3 - good candidate","Onsite Interview Date":"2013-02-17","Stage":"Decision
        Needed","Onsite Interview Notes":"Liz was highly qualified, but seemed shifty.
        When faced with a question she was uncomfortable with, she slithered out of
        it. Could be someone that is very smart, but difficult to deal with. Not sure
        that she''s a team player, which of course is a problem if you''re going to
        be representing a team.","Phone":"(865) 123-4567","Phone Screen Date":"2013-02-12","Name":"Queen
        Elizardbeth II","Onsite Interviewer":["recmtSmO51zqqWAqs"],"Attachments":[{"id":"attQ6vAjxpfVlQedd","url":"https://dl.airtable.com/EXBc35SWSKKHxhbTUbOe_elizardbeth.jpg","filename":"elizardbeth.jpg","size":465335,"type":"image/jpeg","thumbnails":{"small":{"url":"https://dl.airtable.com/jl9v4DQWSx8IoqzgWRTg_elizardbeth.jpg","width":24,"height":36},"large":{"url":"https://dl.airtable.com/YHtaEY7mTie2ZpS5hfJz_elizardbeth.jpg","width":256,"height":388}}},{"id":"attZa28XJJt0GL3DB","url":"https://dl.airtable.com/XdCerQy8MqG5RacAKwdn_Q%20Elizardbeth%20Resume.docx","filename":"Q
        Elizardbeth Resume.docx","size":6519,"type":"application/vnd.openxmlformats-officedocument.wordprocessingml.document","thumbnails":{"small":{"url":"https://dl.airtable.com/attZa28XJJt0GL3DB-28x36.png","width":28,"height":36},"large":{"url":"https://dl.airtable.com/attZa28XJJt0GL3DB-256x331.png","width":256,"height":331}}}],"Onsite
        Interview Score":"2 - worth consideration","Applying for":["recgrjFdvUdTGnDsF"],"Phone
        Screen Interviewer":["recnxTtR21srnQBoG"],"Phone Screen Notes":"Move to in-person."},"createdTime":"2015-11-11T23:11:29.000Z"},{"id":"recSIn39bSTqt4Swc","fields":{"Email
        Address":"ohuxley@example.com","Phone Screen Score":"3 - good candidate","Onsite
        Interview Date":"2013-02-19","Stage":"Interviewing","Onsite Interview Notes":"Owldous
        was impressive overall, and he has a lot of experience in the corporate world.
        But if he were to join with a sports team, he''d still have a lot to learn
        about the industry, e.g., I asked him for his opinion on Leon the Li[...]
